<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-datadog-index") %>>
          <a href="/docs/providers/datadog/index.html">Datadog Provider</a>
        </li>

        <li<%= sidebar_current("docs-datadog-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-datadog-datasource-ip-ranges") %>>
              <a href="/docs/providers/datadog/d/ip_ranges.html">datadog_ip_ranges</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-datadog-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-datadog-resource-dashboard-list") %>>
              <a href="/docs/providers/datadog/r/dashboard_list.html">datadog_dashboard_list</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-dashboard") %>>
              <a href="/docs/providers/datadog/r/dashboard.html">datadog_dashboard</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-downtime") %>>
              <a href="/docs/providers/datadog/r/downtime.html">datadog_downtime</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-integration_aws") %>>
              <a href="/docs/providers/datadog/r/integration_aws.html">datadog_integration_aws</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-integration_aws_lambda_arn") %>>
              <a href="/docs/providers/datadog/r/integration_aws_lambda_arn.html">datadog_integration_aws_lambda_arn</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-integration_gcp") %>>
              <a href="/docs/providers/datadog/r/integration_gcp.html">datadog_integration_gcp</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-integration_pagerduty") %>>
              <a href="/docs/providers/datadog/r/integration_pagerduty.html">datadog_integration_pagerduty</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-integration_pagerduty_service_object") %>>
              <a href="/docs/providers/datadog/r/integration_pagerduty_service_object.html">datadog_integration_pagerduty_service_object</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-logs-custom-pipeline") %>>
              <a href="/docs/providers/datadog/r/logs_custom_pipeline.html">datadog_logs_custom_pipeline</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-logs-index") %>>
              <a href="/docs/providers/datadog/r/logs_index.html">datadog_logs_index</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-logs-index-order") %>>
              <a href="/docs/providers/datadog/r/logs_index_order.html">datadog_logs_index_order</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-logs-integration-pipeline") %>>
              <a href="/docs/providers/datadog/r/logs_integration_pipeline.html">datadog_logs_integration_pipeline</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-logs-pipeline-order") %>>
              <a href="/docs/providers/datadog/r/logs_pipeline_order.html">datadog_logs_pipeline_order</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-metric_metadata") %>>
              <a href="/docs/providers/datadog/r/metric_metadata.html">datadog_metric_metadata</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-monitor") %>>
              <a href="/docs/providers/datadog/r/monitor.html">datadog_monitor</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-screenboard") %>>
              <a href="/docs/providers/datadog/r/screenboard.html">datadog_screenboard</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-service_level_objective") %>>
              <a href="/docs/providers/datadog/r/service_level_objective.html">datadog_service_level_objective</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-synthetics") %>>
              <a href="/docs/providers/datadog/r/synthetics.html">datadog_synthetics</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-timeboard") %>>
              <a href="/docs/providers/datadog/r/timeboard.html">datadog_timeboard</a>
            </li>
            <li<%= sidebar_current("docs-datadog-resource-user") %>>
              <a href="/docs/providers/datadog/r/user.html">datadog_user</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-datadog-examples") %>>
        <a href="#">Examples</a>
        <ul class="nav nav-visible">
          <li<%= sidebar_current("docs-datadog-monitor-examples") %>>
            <a href="/docs/providers/datadog/r/examples/monitors.html">monitors</a>
          </li>
        </ul>
      </li>


      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
